<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>

<body>
<div class="login-page">
    <main class="login-content login-content-signin">
        <div>
            <h2>Log in</h2>
            <form class="wrapper-box" role="form" th:action="@{/login}" method="post">
                <input type="email"
                       class="form-control form-control-email"
                       placeholder="Email address"
                       required>
                <input type="password"
                       class="form-control form-control-password"
                       placeholder="Password"
                       autocomplete="off"
                       required>
                <a class="outer-link pull-left" href="#/forgot">Forgot Password</a>
                <button type="submit" class="btn btn-submit btn-default pull-right">Log in</button>
            </form>
        </div>
    </main>

    <div class="login-content login-content-signup ng-hide">
        <div>
            <h2>Sign Up</h2>
            <form class="wrapper-box" role="form" th:action="@{/register}" method="post">
                <input type="text"
                       class="form-control form-control-username"
                       placeholder="Username"
                       required>
                <input type="email"
                       class="form-control form-control-email"
                       placeholder="Email address"
                       required>
                <input type="password"
                       class="form-control form-control-password"
                       placeholder="Password"
                       required>
                <button type="submit" class="btn btn-submit btn-default pull-right">Sign up</button>
            </form>
        </div>
    </div>

    <div class="login-switcher">
        <div class="login-switcher-signin">
            <h3>Have an member?</h3>
            <button th:onclick="showSignIn=false">Login</button>
        </div>
        <div class="login-switcher-signup">
            <h3>Don't have an member?</h3>
            <button th:onclick="showSignIn=true">Sign Up</button>
        </div>
    </div>

</div>

</body>
</html>
